<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link rel="stylesheet" href="./stl.css">
</head>
<body>
    <header class="nnbb" onmouseover="rmimg()">
        <div class="intro">
            <h1 class="itxt">Welcome!</h1>
            <h1 class="itxtq"><%=name%></h1>
        </div>
    </header>
</body>
</html>